.flex-table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  > * {
    display: flex;
    flex: 0 0 100%;
    flex-direction: row;
    > * {
      display: flex;
      flex: 1;
      padding: .3em
    }
  }
}

div {
  border: 1px solid #ddd;
}

.flex-5   { flex: 0 0  5%; }
.flex-10  { flex: 0 0 10%; }
.flex-15  { flex: 0 0 15%; }
.flex-20  { flex: 0 0 20%; }
.flex-25  { flex: 0 0 25%; }
.flex-30  { flex: 0 0 30%; }
.flex-33, .flex-34 { flex: 0 0 33.33%; }
.flex-35  { flex: 0 0 35%; }
.flex-40  { flex: 0 0 40%; }
.flex-45  { flex: 0 0 45%; }
.flex-50  { flex: 0 0 50%; }
.flex-55  { flex: 0 0 55%; }
.flex-60  { flex: 0 0 60%; }
.flex-65  { flex: 0 0 65%; }
.flex-66, .flex-67 { flex: 0 0 66.66%; }
.flex-70  { flex: 0 0 70%; }
.flex-75  { flex: 0 0 75%; }
.flex-80  { flex: 0 0 80%; }
.flex-85  { flex: 0 0 85%; }
.flex-90  { flex: 0 0 90%; }
.flex-95  { flex: 0 0 95%; }
.flex-100 { flex: 0 0 100%; }
